@font-face {
    font-family: "Inter";
    src: url("./inter.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

:root {
    --primary: #002bc6;
    --secondary: #38f2b4;
    --good: #38ce0f;
    --bad: #ff2d2d;
    --gray: #bcbcbc;
    --charcoal: #202020;
}

body {
    margin: 0px;
    padding: 0px;
}

#topbar {
    height: 64px;
    border-bottom: 1px solid var(--gray);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: center;

}

#logo {
    height: 48px;
    padding-left: 32px;
}

#username {
    display: flex;
    margin-left: auto; /* auto is max possible, careful */
    align-items: center;
    margin-right: 8px;
    border: 1px solid var(--gray);
    border-radius: 16px;
    height: 32px;
    padding: 8px;
}